* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  // width: 1420px;
  // margin: 0 auto;
}

/* font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Poppins', sans-serif; */

.header {
  width: 1420px;
  margin: 0 auto;

  .wrap {
    overflow: hidden;
    justify-content: space-around;
    display: flex;
    height: 80px;
    line-height: 80px;

    .logo {
      width: 220px;
      text-align: center;

      img {
        width: 80px;
        height: 80px;
      }
    }

    .gnb {
      width: 740px;

      ul {
        display: flex;
        justify-content: space-around;

        }
      }
      ul.shop {
        position: relative;


        ul.shop_menu {
          display: none;

          li {
            height: 68px;
          }

          .li.first_li {
            height: 72px;
            display: flex;
          }
        }
      }

      ul.shop:hover .shop_menu {
        position: absolute;
        top: 80px;
        left: 0;
        display: block;
        z-index: 100;
      }
      
    }

    .header_right {
      display: flex;
      justify-content: space-around;
      width: 430px;

      .search {
        position: relative;

        input {
          height: 25px;
          border: none;
          border-radius: 12px;
          background-color: #fd8234;
        }

        a {
          position: absolute;
          right: 7px;
          top: 3px;
        }
      }
    }

    .login {
      a {}
    }

    .join {
      a {}
    }
  }
}

.visual_main.swiper {
  width: 1420px;
  height: 820px;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
  .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 1420px;
    height: 4px;
    left: 0;
    top: 0;
    background-color: #e6e6e6;
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #fd8234;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    color: #e6e6e6;
  }
}

.new.swiper {
  width: 1420px;
  margin: 0 auto;
  // height: 100px;
  position: relative;
  // padding-bottom: 0 120px 30px 12px;
  box-sizing: border-box;
  margin-bottom: 75px;

  h1 {
    width: 1420px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 28px;
    font-weight: bold;
  }

  .swiper-wrapper {
    // position: relative;
    margin-bottom: 70px;

    .swiper-slide {
      position: relative;
      width: 360px;
      // background-color: orange;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: bold;

      a {
        img {
          width: 360px;
        }

        div {
          position: absolute;
          bottom: 0;
          opacity: 0.6;
          padding: 20px 25px;
          // 이해할 수 없는 구역이 또 나눠져 있어.
          width: 360px;
          height: 75px;
          background-color: #e6e6e6;
          box-sizing: border-box;

          p {
            font-size:12px;
          }

          b {
            font-size: 13px;
          }
        }
      }
    }
  }

  //스와이퍼 화살표
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    color: #e6e6e6;
    width: 60px;
    height: 60px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -15px;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -15px;
  }

  //스크롤바
  .swiper-scrollbar-drag {
    background-color: #fd8234;
  }

  .horizontal>.swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 12px;
  }
}


.best.swiper {
  width: 1420px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  box-sizing: border-box;
margin-bottom: 75px;
  h1 {
    width: 1420px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 28px;
    font-weight: bold;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    color: #e6e6e6;
    width: 60px;
    height: 60px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -15px;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -15px;
  }

  .swiper-slide {
    width: 360px;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;

    a {
      img {
        width: 360px;
      }

      div {
        position: absolute;
        bottom: 0;
        opacity: 0.6;
        padding: 20px 25px;
        width: 360px;
        height: 75px;
        background-color: #e6e6e6;
        box-sizing: border-box;

        p {
          font-size:12px;
        }

        b {
          font-size: 13px;
        }
      }
    }
  }

  //스와이퍼 화살표
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    color: #e6e6e6;
    width: 60px;
    height: 60px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -15px;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -15px;
  }

}

.issue_contents {
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  width: 1420px;
  height: 750px;
  padding: 75px 120px;
  box-sizing: border-box;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .issue_tab {
    // text-align: center;
    position: relative;
    height:525px;
    width: 1180px;
    margin: 0 auto;
    .issue_list {
      overflow: hidden;
      // text-align: center;
      line-height: 45px;
      width: 630px;
      // height: 45px;
      margin: 0 auto;
      box-sizing: border-box;

     .area {
        float: left;
margin-bottom: 10px;
        .issue_btn {
          display: block;
          margin-right: 50px;
          padding: 10px 25px;
          box-sizing: border-box;
        }

        .issue_btn:last-child {
          margin-right: 0;
        }

        .issue_btn:hover {
          // border-bottom: 10px solid #fd8234;
          // box-sizing: border-box;
        }

        .issue_cont {
          display: none;
          position: absolute;
          left: 0;
          // background: #555;
          color: #fff;
          text-align: center;
          width: 1180px;
          height: 458px;
          margin: 0 auto;

          // line-height: 100px;
          .bedroom,
          .livingroom,
          .dinningroom,
          .desk {

            #bedroom_01:checked~.image_wrap .bedroom_01,
            #livingroom_01:checked~.image_wrap .livingroom_01,
            #dinningroom_01:checked~.image_wrap .dinningroom_01,
            #desk_01:checked~.image_wrap .desk_01 {
              display: block;
            }

            #bedroom_02:checked~.image_wrap .bedroom_02,
            #livingroom_02:checked~.image_wrap .livingroom_02,
            #dinningroom_02:checked~.image_wrap .dinningroom_02,
            #desk_02:checked~.image_wrap .desk_02 {
              display: block;
            }

            #bedroom_03:checked~.image_wrap .bedroom_03,
            #livingroom_03:checked~.image_wrap .livingroom_03,
            #dinningroom_03:checked~.image_wrap .dinningroom_03,
            #desk_03:checked~.image_wrap .desk_03 {
              display: block;
            }

            #bedroom_04:checked~.image_wrap .bedroom_04,
            #livingroom_04:checked~.image_wrap .livingroom_04,
            #dinningroom_04:checked~.image_wrap .dinningroom_04,
            #desk_04:checked~.image_wrap .desk_04 {
              display: block;
            }

            #bedroom_05:checked~.image_wrap .bedroom_05,
            #livingroom_05:checked~.image_wrap .livingroom_05,
            #dinningroom_05:checked~.image_wrap .dinningroom_05,
            #desk_05:checked~.image_wrap .desk_05 {
              display: block;
            }

            #bedroom_06:checked~.image_wrap .bedroom_06,
            #livingroom_06:checked~.image_wrap .livingroom_06,
            #dinningroom_06:checked~.image_wrap .dinningroom_06,
            #desk_06:checked~.image_wrap .desk_06 {
              display: block;
            }

            input {
              display: none;
            }

            .image_wrap {
              position: relative;
              float: left;
              left: 0;
              top: 0;
              width: 460px;
              height: 458px;
              margin-right: 20px;
              // border: 1px solid black;
              // box-sizing: border-box;

              .area_product {
                a {
                  img {
                    width: 100%;
                  }

                  div {
                    position: absolute;
                    bottom: 0;
                    opacity: 0.6;
                    padding: 10px;
                    width: 100%;
                    height: 100px;
                    background-color: #e6e6e6;
                    box-sizing: border-box;

                    p {
                      font-size: 13px;
                    }

                    b {
                      font-size: 14px;
                    }
                  }
                }
              }

              img {
                position: absolute;
                width: 100%;
                display: none;
              }
            }

            .label_wrap {
              // border: 1px solid black;
              // box-sizing: border-box;
              float: left;
              display: flex;
              flex-wrap: wrap;
              width: 700px;
              height: 458px;
              align-content: space-between;

              label {
                width: 220px;
                height: 220px;
                margin-right: 20px;

                img {
                  width: 100%;
                }
              }

              label:nth-child(3n) {
                margin-right: 0;
              }
            }
          }
        }
      }

      .area.is_on_issue {
        border-bottom: 5px solid #fd8234;
        box-sizing: border-box;

        .btn {
          font-weight: bold;
        }

        .cont {
          display: block;

          img {
            width: 100%;
          }
        }
      }
      .issue_btn {
        font-size: 13px;
      }

      .area.is_on_issue{
        .issue_btn {
          font-weight: bold;
          // color: green;
        }   
        .issue_cont {
          display: block;
        }
      } 

    
    }
  }
}

.brand_story {
  margin: 0 auto;
  width: 1420px;
  height: 700px;
  display: flex;

  .brand_story_image {
    margin-right: 20px;
    width: 700px;

    img {
      width: 100%;
    }
  }

  .brand_story_text {
    margin: 80px 70px;
    width: 700px;

    h1 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 125px;
    }

    h2 {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 47px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 50px;
    }

    .more {
      width: 180px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      background-color: #efe8da;

      a {
        display: block;
      }
    }

    .more:hover {
      background-color: #261c13;

      a {
        color: white;
      }
    }
  }
}

.instagram {
  width: 1420px;
  margin: 0 auto;
  margin-bottom: 110px;
  text-align: center;

  h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  a {
    p {
      font-size: 16px;
      margin-bottom: 70px;
    }

    h2 {
      font-size: 16px;
      color: #fd8234;
    }
  }

  .instagram_rolling {
    margin-bottom: 70px;
  }

  .instagram_wrap {
    display: flex;
    overflow: hidden;

    .rolling-list ul {
      display: flex;

      li {
        .image-wrap {
          //padding-right: 32px;
          width: 120px;
          height: 120px;
          flex-shrink: 0;
          margin-right: 10px;
        }

        .image-wrap a>img {
          width: 100%;
        }
      }
    }
  }

  .rolling-list.original {
    animation: rollingleft1 30s linear infinite;
  }

  .rolling-list.clone {
    animation: rollingleft2 30s linear infinite;
  }

  @keyframes rollingleft1 {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-100%);
    }

    50.01% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes rollingleft2 {
    0% {
      transition: translateX(0);
    }

    100% {
      transform: translateX(-200%);
    }
  }
}

.quick {
  width: 50px;
  height: 100px;
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 100;

  .shopping_history {
    #history_btn {
      display: none;
    }

    #history_btn:checked~.history_list {
      display: none;
    }

    #history_btn~.history_list {
      display: block;
    }

    label {
      img {}
    }

    .history_list {}
  }

  .top_btn {
    img {}
  }

  .history_list {
    //display: none;
    background-color: red;
    position: fixed;
    top: 80px;
    right: 0;
    width: 150px;
    height: 300px;
  }
}

.footer {
  width: 1420px;
  margin: 0 auto;
  height: 550px;
  background-color: #261c13;
  color: white;
  padding: 72px 100px;
  box-sizing: border-box;

  .footer_left {
    float: left;

    h1 {
      font-size: 20px;
      font-weight: bold;
    }

    strong {
      display: inline-block;
      color: #fd8234;
      font-size: 30px;
      font-weight: bold;
      margin: 16px 0;
    }

    p {
      font-size: 18px;
    }

    .footer_logo {
      width: 116px;
      height: 135px;
      margin-top: 175px;

      img {
        width: 100%;
      }
    }

    .copyright {
      margin-top: 25px;
      font-size: 11px;
    }
  }

  .footer_right {
    float: right;
    margin-bottom: 102px;

    .footer_instagram {
      width: 350px;
      height: 40px;
      margin-bottom: 20px;

      i {
        display: block;
        font-size: 45px;
        float: right;
        // width: 100%;height: 100%;
      }
    }

    .footer_instagram:hover {
      scale: 1.1;
    }

    .footer_right_middle {
      display: flex;
      width: 350px;
      // height: 125px;
      overflow: hidden;
      margin-bottom: 40px;

      div {
        li {
          a {
            font-size: 13px;
            font-weight: bold;
            line-height: 24px;
          }
        }

        li:first-child {
          margin-bottom: 22px;

          a {
            color: #f8f8f8;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      .footer_info {
        float: left;
        margin-right: 55px;

        ul {
          li {
            a {}
          }
        }
      }

      .footer_support {
        margin-right: 55px;
      }

      .footer_contact {
        ul {
          li {
            a {}
          }
        }
      }
    }

    .business_info {
      width: 370px;

      // 이건 내일 다시 보자구요!!!
      #business_info_btn:checked~.business_info_open_btn {
        display: block;
      }

      #business_info_btn:checked~.business_info_close_btn {
        display: none;
      }

      #business_info_btn:checked~.business_info_detail {
        display: none;
      }

      #business_info_btn~.business_info_close_btn {
        display: block;
      }

      #business_info_btn~.business_info_open_btn {
        display: none;
      }

      #business_info_btn~.business_info_detail {
        display: block;
      }

      input {
        display: none;
      }

      label {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 15px;

        i {
          margin-left: 8px;
        }
      }

      .business_info_detail {
        // display: none;
        width: 350px;
        height: 75px;
        border: 1px solid white;
        padding-left: 8px;
        box-sizing: border-box;

        div {
          p {
            font-size: 10px;
            line-height: 17px;
          }

          .bar {
            // display: block;
            width: 1px;
            height: 12px;
            // line-height: 13px;
            background-color: #fff;
            margin: 3px 8px;
            box-sizing: border-box;
          }
        }

        .detail_first,
        .detail_third,
        .detail_fourth {
          p {
            float: left;

            a {
              color: white;
            }
          }

          p:last-child {}

          overflow: hidden;
        }

        .detail_second {
          margin-bottom: 2px;
          p {}
        }
        .detail_third,
        .detail_fourth {}
      }
    }
  }
}